<%= "hello #{@email}"  %>
<p>You are invited to join Hot-Tab-Book.com</p>
<a href="http://local.hot-tab-book.com/users/sign_up?email=<%= @email %>" >http://local.hot-tab-book.com/users/sign_up</a>
<p>Thank You</p>