<%= javascript_include_tag "bookings" %>
<div class="hotelName clearfix">
      <div class="container">
        <div class="clearfix"></div>
        <section class="hotelLayout">
          <div class="topTables">
            <ul class="clearfix">
              <li class="tables">
                <ul class="clearfix">
                  <li><a href="#" class="topTable">&nbsp;</a></li></li>
              <li><a href="#" class="topTable">&nbsp;</a></li></li>
              <li><a href="#" class="topTable">&nbsp;</a></li></li>
              <li><a href="#" class="topTable">&nbsp;</a></li></li>
            </ul>
            <ul class="clearfix">
              <li><a href="#" class="topTable">&nbsp;</a></li></li>
              <li><a href="#" class="topTable">&nbsp;</a></li></li>
              <li><a href="#" class="topTable">&nbsp;</a></li></li>
              <li><a href="#" class="topTable">&nbsp;</a></li></li>
            </ul>
            </li>
            <li>
              <div class="washroomTop">Washroom</div>
            </li>
            <li>
              <div class="specialRooms">
                <div class="table1">
                  <a href="#">&nbsp;</a>
                </div>
                <div class="table2">
                  <a href="#">&nbsp;</a>
                </div>
              </div>
            </li>

            </ul>
          </div>
          <div class="reception">
            <span><img src="/assets/entry.jpg"></span>
            <img src="/assets/waitingRoom.jpg">
            <img src="/assets/kitchen.jpg"/>
          </div>
          <div class="swimingPool"></div>
          <div class="bottomTable">
            <ul class="clearfix">
              <li>
                <ul class="clearfix">
                  <li class="tables">
                    <ul class="clearfix">
                      <li><a href="#" class="topTable">&nbsp;</a></li>
                      <li><a href="#" class="topTable">&nbsp;</a></li>
                      <li><a href="#" class="topTable">&nbsp;</a></li>
                      <li><a href="#" class="topTable">&nbsp;</a></li>
                    </ul>
                  </li>
                </ul>
              <li>
              <li>
                <ul class="clearfix">
                  <li><a href="#" class="topTable">&nbsp;</a></li>
                  <li><a href="#" class="topTable">&nbsp;</a></li>
                  <li><a href="#" class="topTable">&nbsp;</a></li>
                  <li><a href="#" class="topTable">&nbsp;</a></li>
                </ul>
            </li>
              <li>
                <div>dfkjkdfjdf</div>
              </li>
            </ul>
          </div>
        </section>
      </div>
    </div>
  </section>
 <div class="clearfix"></div>
