  <section class="homeSearchFullWrap">
    <div class="container">
      <div class="searchPanel">
        <select name="country_id" class="selectCity" id="country_id" tabindex="1">
          <option>Pune</option>
          <option>Mumbai</option>
          <option>Chennai</option>
          <option>Banglore</option>
        </select>
      </div>
    </div>
  </section>
  <section class="cityHotelList">
    <div class="container">
      <div class="row">
        <ul>
          <li>
            <a href="#">
              <img src="../assets/leMeridian.jpg">
              <span class="hotelName">Le meridien</span>
            </a>
          </li>
          <li>
            <a href="#">
              <img src="../assets/oHotel.jpg">
              <span class="hotelName">O Hotel</span>
            </a>
          </li>
          <li>
            <a href="#">
              <img src="../assets/jw-marrite.jpg">
              <span class="hotelName">Jw marriot</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </section>
