*{
  margin: 0;
  padding: 0;
}
body{
  font-family: arial, "sans serif"
}
.container{
    min-height: 820px;
}
.homeSearchFullWrap{
  background: url("../assets/homeBg.jpg") 0 0 no-repeat;
  background-size: cover;
  height: 460px;
}
.headerWrap{
  background:#222222;
  height: 50px;
  padding-top: 15px;
}
h3.logo, .logo a{
  color: #ffffff;
  padding: 0;
  margin: 0;
}
.topContactDetails h4{
  color: #cccccc;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  float: left;
}
.searchPanel{
  text-align: center;
}
.selectCity {
  width: 620px;
  margin: 180px auto;
}
.sbHolder{
  background-color: #ffffff;
  border: solid 1px #358efb;
  height: 48px;
  position: relative;
  width: 620px;
  margin: 200px auto;
  border-radius: 10px;
}
.sbSelector{
  display: block;
  height: 48px;
  left: 0;
  line-height: 48px;
  outline: none;
  overflow: hidden;
  position: absolute;
  text-indent: 10px;
  top: 0;
  width: 100%;
  text-align: left;
  font-size: 18px;
  color: #444;
}
.sbSelector:hover{
  text-decoration: none;
}
.sbToggle{
  background:#358efb url(../assets/sprite.png) 20px 20px no-repeat;
  display: block;
  height: 48px;
  outline: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 60px;
  border-radius: 0 10px 10px 0;
  z-index: 5;
}
.sbToggle:hover{
  background:#358efb url(../assets/sprite.png) 20px 20px no-repeat;
}
.sbToggleOpen{
  background:#358efb url(../assets/sprite.png) 20px -16px no-repeat;
}
.sbToggleOpen:hover{
  background:#358efb url(../assets/sprite.png) 20px -16px no-repeat;
}
.sbHolderDisabled{
  background-color: #3C3C3C;
  border: solid 1px #515151;
}
ul.sbOptions {
  top:49px !important;
}
.sbOptions{
  background:#ffffff;
  list-style: none;
  left: 4px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 30px;
  width: 610px;
  z-index: 1;
  overflow-y: auto;
  text-align: left;
  border-radius: 0 0 10px 10px;

}
.sbOptions li{
  padding: 0 7px;
  border-bottom: dotted 1px #515151;
}
.sbOptions li:last-child{
  border-bottom: none
}
.sbOptions a{
  display: inline-block;
  font-size: 16px;
  outline: none;
  padding: 10px 0 10px 3px;
}
.sbOptions a:link, .sbOptions a:visited{
  color: #444;
  text-decoration: none;
}
.sbOptions a:hover,
.sbOptions a:focus,
.sbOptions a.sbFocus{
  color: #000;
}
.sbOptions li.last a{
  border-bottom: none;
}

.sbOptions .sbSub{
  padding-left: 17px;
}
:focus, :active {
  outline: 0;
}
.cityHotelList{
  margin-top: 80px;
}
.cityHotelList ul li{
  display: block;
  float: left;
  width: 270px;
  text-align: center;
  margin-left: 60px;
}
.cityHotelList ul li span.hotelName{
  color: #666666;
  font-size: 18px;
  padding:15px 0;
  display: block;
}
.cityHotelList ul li:first-child{
  margin-left: 0
}

.cityHotelList ul li a{
  display: block;
  float: left;
  transition: all 0.5s ease-in-out 0s;
}
.cityHotelList ul li a:hover {
  margin-bottom: 5px;
  margin-top: -5px;
}
.footer{
  background: #444;
  padding: 15px;
  text-align: center;
}
.footer .copyrightTxt{
  color: #cccccc;
}

/*hotel-css*/
.fullContainerWhite{
  background: #ffffff;
  padding: 15px;
  overflow: hidden;
}
.hotelName{
  background: #ffffff;
  float: left;
  width: 100%
}
.hotelLayout{
  width: 725px;
  min-height: 500px;
  background: #ffffff;
  margin: 60px auto;
  border: solid 1px #888a8c;
  padding: 20px;
}

.hotelName{
  background: url("../assets/leMeridianBg.jpg") 0 0 no-repeat;
  height: 820px;
}
.washroomTop{
  background: #cccccc;
  height:55px;
  width: 100px;
  float: left;
  text-align: center;
  padding-top: 0px
}
.topTables{
  display: block;
}
.topTables ul, .bottomTable ul li  {
  list-style: none;
  margin: 0;
  padding: 0;
}
.topTables li{
  float: left;
}
.topTables ul li a.topTable, .bottomTable ul li a.topTable{
  display: block;
  width: 42px;
  height: 42px;
  background: url("../assets/tableImg.jpg") 0 0 no-repeat;
}
.topTables ul li ul li a, .bottomTable ul li a.topTable{
  float: left;
  margin-right: 45px;
}
.bottomTable ul li a.topTable{
  margin-right: 20px;
}
.tables ul li{
  margin-bottom: 20px !important;
  float: left;
}

.specialRooms{
  background: #cccccc;
  width: 120px;
  margin-left: 10px;
}
.specialRooms .table1, .specialRooms .table2{
  padding: 20px 40px;
}
.specialRooms .table1 a{
  display: block;
  width: 42px;
  height: 42px;
  background: url("../assets/tableImg.jpg") 0 0 no-repeat;
}
.specialRooms .table2 a{
  display: block;
  width: 42px;
  height: 42px;
  background: url("../assets/tableImg.jpg") 0 0 no-repeat;
}
.swimingPool{
  background: #dceaff;
  text-align: center;
  vertical-align: middle;
  height: 150px;
  width: 190px;
  margin-top: 20px;
}
.bottomTable {
  float: left;
  margin-left: 10px;
  margin-top: 20px;
  width: 375px;
}
.swimingPool{
  float: left;
}
.bottomTable ul{
  margin: 0;
  padding: 0;
  list-style: none;
  width: 270px;
  float: left;
}
.bottomTable ul li .washroomTop{
  float: left;
  width: 100px;
}
.bottomTable ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
.bottomTable ul li.tables{
  float: left;
  width: 400px;
}
.bottomTable ul li .washroomTop{
  width: 125px;
}
.bottomTable ul li a.topTable{
  margin-right: 25px;
}
.bottomTable ul li .washroomTop{
  width: 100px;
}
.topContactDetails .setting{
  background: url("../assets/sprite.png") 30px -72px no-repeat;
  height: 24px;
  width:60px;
  display: block;;
  float: left;
}
ul.loginDetails {
  list-style: none;
  margin: 0;
  padding: 0;
  float: left;
  color: red
}
ul.loginDetails li a{
  margin-left: 20px;
  color: #358efb;
}
